#include "{{header}}.h"
{{ warning }}

{% if namespace != "" %}
namespace {{namespace}} {
{% endif %}

Instruction get_instr(uint32_t instr) {
    return (Instruction)(instr >> 24);
}

{% if namespace != "" %}
}
{% endif %}
